<meta http-equiv="refresh" content="1">


<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @joystick.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @joystick.y %>
</p>

<%= link_to 'Edit', edit_joystick_path(@joystick) %> |
<%= link_to 'Back', joysticks_path %>


<!-- Machine: <%= @joystick.x %> <%= @joystick.y %> -->MoreCrap